* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
body {
  font-family: "Source Sans Pro", sans-serif;
  background-color: #009b86;
}
header {
  height: 140px;
  background-color: #009b86;
  font-family: "Roboto Slab", sans-serif;
}
header nav {
  position: absolute;
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
  font-size: 1.7em;
  top: 0;
  right: 0;
  width: calc(100% - 140px);
  position: relative;
}
header nav > span {
  position: absolute;
  right: 0px;
  bottom: 40px;
}
header > nav a {
  padding: 4px 8px;
  transition: background-color 0.2s;
  margin-right: 20px;
}
header > nav a:last-child {
  margin-right: 0;
}
header > nav a:hover {
  background-color: #00ceb2;
  box-shadow: 0px 0px 2px #00ceb2;
}
#title-box {
  height: 100%;
  font-weight: bold;
  width: 140px;
  background-color: #ffffff;
  position: relative;
  text-align: right;
  font-size: 2em;
  color: #009b86;
}
#title-box > span {
  position: absolute;
  bottom: 30px;
  width: 100%;
  right: 15px;
}
#sidebar {
  width: 140px;
  color: white;
}
#content {
  background-color: #ffffff;
  width: calc(100% - 140px);
  min-height: calc(100% - 140px);
  position: absolute;
  top: 140px;
  right: 0;
  padding: 10px;
}
