@accent: #009B86;
@title: white;
@content: @title;
@banner-size: 150px;

* {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: inherit;
}

body {
	font-family: "Source Sans Pro", sans-serif;
	background-color: @accent;
}

header {
	height: @banner-size;
	background-color: @accent;
	font-family: "Roboto Slab", sans-serif;

	nav {
		position: absolute;
		color: white;
		text-align: center;
		font-size: 1.5em;
		top: 0;
		right: 0;
		width: ~"calc(100% - @{banner-size})";
	}
}

#title-box {
	height: 100%;
	font-weight: bold;
	width: @banner-size;
	background-color: @title;
	position: relative;
	text-align: right;
	font-size: 2em;
	color: @accent;

	> span {
		position: absolute;
		bottom: 30px;
		width: 100%;
		right: 15px;
	}

}

#sidebar {
	width: @banner-size;
	color: white;
}

#content {
	background-color: @content;
	// background: linear-gradient(to bottom, lighten(@accent, 65%) 0%, white 100%);
	width: ~"calc(100% - @{banner-size})";
	min-height: ~"calc(100% - @{banner-size})";
	position: absolute;
	top: @banner-size;
	right: 0;
	padding: 10px;
}
