* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
body {
  font-family: "Source Sans Pro", sans-serif;
  background-color: #009b86;
}
header {
  height: 150px;
  background-color: #009b86;
  font-family: "Roboto Slab", sans-serif;
}
header nav {
  position: absolute;
  color: white;
  text-align: center;
  font-size: 1.5em;
  top: 0;
  right: 0;
  width: calc(100% - 150px);
}
#title-box {
  height: 100%;
  font-weight: bold;
  width: 150px;
  background-color: #ffffff;
  position: relative;
  text-align: right;
  font-size: 2em;
  color: #009b86;
}
#title-box > span {
  position: absolute;
  bottom: 30px;
  width: 100%;
  right: 15px;
}
#sidebar {
  width: 150px;
  color: white;
}
#content {
  background-color: #ffffff;
  width: calc(100% - 150px);
  min-height: calc(100% - 150px);
  position: absolute;
  top: 150px;
  right: 0;
  padding: 10px;
}
