* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
html,
body {
  min-width: 500px;
  height: 100%;
}
body {
  font-family: "Source Sans Pro", sans-serif;
  background-color: #009b86;
}
code {
  color: #003388;
  font-family: "Consolas", "Inconsolata", Menlo, Monaco, "Andale Mono", "lucida console", "Courier New", monospace;
}
pre {
  overflow: auto;
  background-color: #fdf6e3;
  border: 1px solid #bcaf8b;
  padding: 3px 5px 5px 5px;
  font-family: Consolas, Inconsolata, Menlo, Monaco, "Andale Mono", "Lucida Console", "Courier New", monospace;
}
pre > code {
  color: black;
  font-size: 14px;
}
header {
  height: 120px;
  background-color: #009b86;
  font-family: "Roboto Slab", sans-serif;
}
header nav {
  display: inline-block;
  position: absolute;
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
  font-size: 1.7em;
  top: 0;
  right: 0;
  height: 120px;
  width: calc(100% - 200px);
}
header nav > div {
  position: absolute;
  right: 10%;
  bottom: 40px;
}
header > nav a {
  padding: 4px 8px;
  transition: background-color 0.2s;
  margin-right: 20px;
  margin-top: 10px;
  display: inline-block;
}
header > nav a:last-child {
  margin-right: 0;
}
header > nav a:hover {
  background-color: #00ceb2;
  box-shadow: 0px 0px 2px #00ceb2;
}
p {
  margin-bottom: 20px;
}
#title-box {
  height: 100%;
  font-weight: bold;
  width: 200px;
  background-color: #ffffff;
  position: relative;
  text-align: right;
  font-size: 2em;
  color: #009b86;
}
#title-box > a {
  position: absolute;
  bottom: 20px;
  width: 100%;
  right: 25px;
}
#sidebar {
  width: 200px;
  color: rgba(255, 255, 255, 0.8);
  padding: 5px 7px;
}
#sidebar h2 {
  font-family: "Roboto Slab", sans-serif;
  font-size: 1.6em;
  margin: 4px 4px 8px 6px;
}
#sidebar li {
  margin-bottom: 6px;
  font-size: 0.95em;
}
#sidebar a {
  color: white;
  display: inline-block;
  padding: 2px 5px;
  width: 100%;
}
#sidebar a:hover {
  background-color: #00b49c;
}
#content {
  background-color: #ffffff;
  width: calc(100% - 200px);
  min-height: calc(100% - 120px);
  position: absolute;
  top: 120px;
  right: 0;
  padding: 20px;
  padding-right: 30px;
  font-size: 15px;
  line-height: 1.4;
}
#content h1,
#content h2 {
  color: #00685a;
  font-size: 2.2em;
  margin-top: 15px;
  margin-bottom: 10px;
  display: inline;
}
#content h1 {
  font-size: 2.5em;
}
#content h3 {
  color: #00685a;
  font-size: 1.5em;
  margin-top: 10px;
  margin-bottom: 8px;
}
#content h4 {
  color: #00685a;
  font-size: 1.3em;
  margin-bottom: 3px;
}
#content li {
  list-style-type: disc;
  margin: 5px 0 5px 20px;
}
#content-inner {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}
#content .post-link h2 {
  margin-bottom: 0;
}
.post {
  margin-bottom: 16px;
}
.post hr {
  height: 1px;
  border: 0;
  background-color: #00685a;
  margin-top: 27px;
}
.date {
  font-size: 0.9em;
}
.date-comments {
  color: #009b86;
  font-size: 0.9em;
  margin-bottom: 15px;
  display: inline-block;
}
@media (max-width: 700px) {
  #content {
    left: 0;
    min-width: 500px;
    width: 100%;
  }
  #content-inner {
    margin: 0 20px;
  }
  #title-box {
    display: none;
  }
  header > nav {
    left: 0;
    min-width: 500px;
    width: 100%;
  }
}
