@accent: #009B86;
@title: #f2f2f2;
@content: #f2f2f2;
@banner-height: 120px;
@banner-width: 200px;
@min-width: 500px;
@inline-code: #608;
@links: #038;
@code-bg: #fdf6e3;
@faded: fade(white, 80%);

* {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: inherit;
}

html, body {
	min-width: @min-width;
	height: 100%;
}

body {
	font-family: "Source Sans Pro", sans-serif;
	background-color: @accent;
}

code {
	color: @inline-code;
	font-family: "Consolas", "Inconsolata",Menlo,Monaco,"Andale Mono","lucida console","Courier New",monospace;
}

pre { // TODO: code-specific tag
	overflow: auto;
	background-color: @code-bg;
	border: 1px solid desaturate(darken(@code-bg, 30%), 60%);
	padding: 3px 5px 5px 5px; // For some reason, the top padding appears bigger
	font-family: Consolas, Inconsolata, Menlo,Monaco, "Andale Mono", "Lucida Console", "Courier New", monospace;

	>code {
		color: black;
		font-size: 14px;
	}
}

header {
	height: @banner-height;
	background-color: @accent;
	font-family: "Roboto Slab", sans-serif;

	nav {
		display: inline-block;
		position: absolute;
		color: @faded;
		text-align: center;
		font-size: 1.7em;
		top: 0;
		right: 0;
		height: @banner-height;
		width: ~"calc(100% - @{banner-width})";

		>div {
			position: absolute;
			right: 10%;
			bottom: 40px;
		}
	}
}

header > nav a {
	padding: 4px 8px;
	transition: background-color 0.2s;
	margin-right: 20px;
	margin-top: 10px;
	display: inline-block;

	&:last-child {
		margin-right: 0;
	}

	&:hover {
		background-color: lighten(@accent, 10%);
		box-shadow: 0px 0px 2px lighten(@accent, 10%);
	}
}

p {
	margin-bottom: 20px;
}

#title-box {
	height: @banner-height;
	font-weight: bold;
	width: @banner-width;
	background-color: @title;
	position: absolute;
	clip: rect(0, @banner-width, @banner-height, 0);
	z-index: 20;
}

#sidebar-topper {
	width: @banner-width;
	margin: 0;
	position: fixed;
	top: @banner-height - 2px;
	z-index: 1;
	border: none;
	height: 1px;
	background-color: @faded;
}

#sidebar {
	width: @banner-width;
	color: @faded;
	padding: 5px 7px;
	position: fixed;
	overflow: hidden;

	h2 {
		font-family: "Roboto Slab", sans-serif;
		font-size: 1.6em;
		margin: 4px 4px 8px 6px;
	}

	li {
		margin-bottom: 6px;
		font-size: 0.95em;
	}

	a {
		color: white;
		display: inline-block;
		padding: 2px 5px;
		width: 100%;

		&:hover {
			background-color: lighten(@accent, 5%);
		}
	}
}

#over-title, #under-title {
	text-align: right;
	font-weight: bold;
	font-size: 2em;
	position: fixed;
	top: 38px;
	left: 65px;
}

#over-title {
	color: @accent;
	z-index: 20;
	position: fixed;
}

a#under-title { //specificity
	color: @faded;
	font-family: "Roboto Slab", sans-serif;
	width: auto;
	padding: 0;
	z-index: 10;

	&:hover {
		background-color: transparent;
	}
}

#content {
	background-color: @content;
	width: ~"calc(100% - @{banner-width})";
	min-height: ~"calc(100% - @{banner-height})";
	position: absolute;
	top: @banner-height;
	right: 0;
	padding: 20px;
	padding-right: 30px;
	font-size: 15px;
	line-height: 1.4;

	h1, h2 {
		color: darken(@accent, 10%);
		font-size: 2.2em;
		display: inline-block;
	} 

	h1 {
		font-size: 2.5em;
	}

	h3 {
		color: darken(@accent, 10%);
		font-size: 1.5em;
		margin-top: 10px;
		margin-bottom: 8px;
	}

	h4 {
		color: darken(@accent, 10%);
		font-size: 1.3em;
		margin-bottom: 3px;
	}

	li {
		list-style-type: disc;
		margin: 5px 0 5px 20px;
	}
}

#content-inner {
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;

	h1+p, h2+p {
		margin-top: 10px;
	}

	p>a {
		color: @links;
		text-decoration: underline;
	}
}

#content .post-link h2 {
	margin-bottom: 0;
}

.post {
	margin-bottom: 16px;

	hr {
		height: 1px;
		border: 0;
		background-color: darken(@accent, 10%);
		margin-top: 27px;
	}
}

.date {
	font-size: 0.9em;
}

.date-comments {
	color: @accent;
	font-size: 0.9em;
	margin-bottom: 15px;
	display: inline-block;
}

.spoiler:not(:hover), .spoiler:not(:hover) code {
	background-color: #000;
	color: #000;
}

#content .post-desc {
	margin: 0 0 5px 0;
}

@media (max-width: 700px) {
	#content {
		left: 0;
		min-width: @min-width;
		width: 100%;
	}

	#content-inner {
		margin: 0 20px;
	}

	#title-box {
		display: none;
	}

	header > nav {
		left: 0;
		min-width: @min-width;
		width: 100%;
	}
}
