<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,700' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="reset.css">
		<link rel="stylesheet" href="styles.css">
	</head>
	<body>
		<header>
			<div id="title-box"><span>j201's<br>Blather</span></div><nav>
				<div>
					<a href="#">Archives</a>
					<a href="#">Projects</a>
					<a href="#">Github</a>
				</div>
			</nav>
		</header>
		<nav id="sidebar">
			<h2>Posts</h2>
			{{postList}}
		</nav><div id="content">
			{{{content}}}
		</div>
	</body>
</html>
